//Author: KW
// all content in this document carried out by ABOVE author

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin template( 	$name,
									//$template-h1-backround-color,
									//$template-h1-color,
									$header-height,
									$template-h1-display,

									$template-img-float,
									$template-img-width,
									$template-img-display,

									$template-text-float,
									$template-text-width,
									$template-text-p-align,
									$template-text-display

            )
  {

#serve_container.#{$name} {
content:#ffffff;
width:100%;
height:100%;

	#header {
	width:100%;
	min-height:$header-height;

		h1 {
		display:/*$template-h1-display*/ none;
		margin:0; padding:0;
		background:/*orange*/transparent;
		padding:0.5%;
		color:#ffffff;//h1
		font-size:110%;
		}

	}//header

	.row {
		height:80%;

	#serve_image {
	display:$template-img-display;
	float:$template-img-float;
	width:$template-img-width;

	text-align:center;


		img {
		max-width:1280px;
		max-height: 720px;
	  display: block;
	  width: auto;
	  height: auto;
		width:100%;
		}

		video {
		max-width:1280px;
		max-height: 720px;
		width:auto;
		height:auto;}
		}

  #serve_text {
	font-size:90%;
	display:$template-text-display;
	float:$template-text-float;
	width:$template-text-width;

		p {text-align:	$template-text-p-align; margin:0; width:94%;}
	}
}

}
 	#footer {width:100%; height:10%; background:#000000; display:block;  font-size:60%; position:fixed; bottom:0;

		ul {margin:0; padding:0;
			li {float:left; width:18%; text-align:left; padding:1%; color:#ffffff; font-weight:bold; list-style:none;
			}
		}
	}//footer
}

//Note: Left to right per row
// 										name			| header height
// HEADING:   				BG Color 	| 	Font Color 	| 		Display
// IMAGE:  						Float   	|   width  			|    	Display
// TEXT: 							Float			| 	Width 			|			Align 		| 		Display

// image left, text right
@include template(	template1, 150px,
										/*#000000, #ffffff,*/ block,
										left, 23%, initial,
										right, 75%, justify, initial);

// fullsize image
@include template(	template2, 0px,
										/*#ffffff, #000000,*/ block,
										left, 100%, initial,
										right, 40%, justify, none);

// text left, image right
@include template(	template3, 150px,
										/*#000000, #ffffff,*/ block,
										right, 40%, initial,
										left, 40%, justify, initial);

// fullsize background image
@include template(	template4, 0px,
										/*#000000, #ffffff,*/ block,
										right, 100%, none,
										left, 40%, justify, none);

// fullsize video
@include template(	template5, 0px,
										/*#ffffff, #000000,*/ block,
										left, 100%, initial,
										right, 50%, justify, none);
