/***************************/
/*   Section | Article     */
/***************************/
section {
text-align:center; clear:both;

	article {
	float:left; width:22%; padding:1%;

		img {
		width:50%; border-radius:10px;
		}//img

		p {
		text-align:justify;
		}//p
	}//article
}//section

/***************************/
/*        dashboard        */
/***************************/
.dashboard {

	.row {
	width:100%;

	.options {
	background:transparent;
	text-align:center;

		h4 {
		text-align:left;
		}//h4

		ul {
		text-decoration:none; list-style:none; padding:0; margin:0;

			li:last-child {
			margin-right:0;
			}//li:first-child

			li {
			float:left;
			margin:1%;
			width:18%;

				a {
				display:block;
				background:#1f6378;
				border-radius:$site-border-radius;
				border:$site-border-hidden;
				color:#ffffff;


					&:hover {
					background:#1f6378;
					border:$site-border-show;
					}

					i {
					font-size:350%;
					color:#ffffff;

						span {
						font-size:30%; padding:1%; margin:0; margin-top:4px; display:block;
						}//span
					}//i
				}//a

			}//li
		}//ul
	}//options
}//row
} //dashboard

/***************************/
/*      Page Editor        */
/***************************/

#left {
float:left; width:70%; min-height:300px;

	/* Default Orientation - Landscape*/
	.pagecontainer {
	width:100%; min-height:400px; background:transparent; box-sizing:border-box;

		ul.theme_select {

				li {
				width:15%; float:left; text-align:center;

					a {
					display:block;

						img {
						width:90%;
						}//img
					}//a
				}//li
		}//ul.theme_select
	}//pagecontainer

	.pagecontainer:last-child {
	min-height:100px; background:transparent; margin-top:5px;
	}//last-child
}//left

/* Portrait*/
#left.portrait {

		.pagecontainer {
		float:left; width:75%;  box-sizing:border-box; border-radius:$site-border-radius; border:$site-border;

			ul.theme_select {
			width:100%; padding:0; margin:0; display:flex; text-align:center; display:block;

					li {
					width:100%;
						a {

							img {
							width:50%;
							text-align:center;
							}//img
						}//a
					}//li
			}//ul.theme_select
		}//pagecontainer

		.pagecontainer:last-child {
		float:left; width:23%;  background:orange; margin-left:10px;
		}//last-child
	}//portrait

#right {
float:left;
width:30%;
background:transparent;
box-sizing:border-box;

	ul {
	margin:0 auto;
	background:transparent;
	display:block;
	padding:0;
	margin-left:10px;

		li:first-child {
		margin-top:0;
		}//li:first-child

		li {
		display:block;
		background:transparent;
		margin:5px auto;
		border-radius:$site-border-radius;
		padding:5px;
		border:$site-border;

			textarea, input {
			width:90%;
			margin:0 auto;
			}//textarea, input

			label {
			display:block;
			}//label
		}//li

		li#orientation {
			padding:0; margin:0;

				a {
				display:block;
				}//a

				button:first-child {
				margin-left:0px;
				}

				button.active, button.active:hover {
				background:$button-background-active;
				}//button.active

				button {
				background:$button-background; color:#000000; width:50%; border:$site-border; float:left; padding:0px 5px; overflow:hidden;
				}//button

				button:hover {
				background:$button-background-hover; cursor:pointer;
				}//2 elements -- active hover
			}//orientation
	}//ul
}//right

/***************************/
/*         Global          */
/***************************/
.global {
width:100%;
margin:0 auto;
font-size:120%;

	.row {
	margin:0 auto 1%;

		ul {

			li {
			margin-top:0.5%;

				//Temporary height? - Changing to icons should resolve spacing issue
				&:first-child {min-height:65px;}

				a {
				cursor:pointer;
				//padding: 1% 1% 1% 0;
				}

				input {
				font-size:90%;
				padding-left:1%;
				}//input

				label {
				min-width:40%;
				}//label

				button {
				font-size:90%;
				float:right;
				margin-left:1%;

					&:hover {background:orange;}
			}//button
			}//li
		}//ul
	}//row

	.row:last-child {

				ul {

					li {
					min-height:30px;

						&:nth-child(odd) {
						background:$li-background;
					}//li:nth

					&:nth-child(even) {
					background:$li-background-lighter;
				}//li:nth

						&:hover {
						background:$li-background-hover;
						}

						a {
						padding:0;
						display:inline;
						float:left;
						}

						label {
						}//label

						button {

							&:first-child {
							margin-left:10px;
							}//button:first-child

						}//button
					}//li

				}//ul
	}//row:last-child
}//global


/***************************/
/*         Login           */
/***************************/
form#clientlogin, form#register {
margin:0 auto;
width:15%;
text-align:left;

	ul {

		button {
		margin:10% 0;
		width:50%;
		display:block;
		}//input

		li {
		width:100%;

			label, input {width:100%;}

			label {
			display:block;
			margin-top:1%;
			padding:1%;
			}//label

			input {
			display:block;
			margin-top:0;
			width:94%;
			text-align:left;
			border:2px solid black;
			}//input

			input:hover {
			cursor:pointer;
			}//li:hover

		}//li
	}//ul

	ul:last-child{
	margin-top:1%;

		li {
		text-align:left;

			a {
			color:#000000;
			}//a

			a:hover {
			color:#000000;
			}//a:hover
		}//li
	}//ul:last-child


}//clientlogin | register
