//Author: KW
// all content in this document carried out by ABOVE author

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

/* classes */
.hidden {display:none; }
.shown {display:block;}
.clear {clear:both;}
.right {float:right;}
.alert-danger {color:red; font-size:20px; font-weight:bold; text-align:center;}

@mixin theme( $name,
              $site-font-color,
              $site-background,
              $button-font-color,
              $button-background-hover,
              $button-font-color-hover,
              $labelFontColor
            )

  {

%glow {
-webkit-stroke-width: 5.3px;
-webkit-stroke-color: #FFFFFF;
-webkit-fill-color: #FFFFFF;
text-shadow: 1px 0px 20px yellow;
}

%font-a {font-size:80%;}
%font-b {font-size:100%;}
%font-c {font-size:140%;}

html, body {height:100%; width:100%;}

body.font-theme-a {@extend %font-a;}
body.font-theme-b {@extend %font-b;}
body.font-theme-c {@extend %font-c;}

  body.#{$name} {
    &.data-swatch-theme-b.font-theme-a div#wrapper div#content form#clientlogin ul li a:hover {color:#ffffff;}
    &.data-swatch-theme-a #wrapper #top #swatches ul li.top-active i,
    &.data-swatch-theme-a #wrapper #top #fontsizing ul li.top-active i {color:$site-font-color;}

    color:$site-font-color;
    background:$site-background;
    margin:0;

    input, textarea, button, select {font-size:100%; color:#000000;}
    button {}

    i, .fa {font-family: FontAwesome;}

  ::-webkit-input-placeholder {color:#b3a69d;}
  :-moz-placeholder {color:#b3a69d; opacity:0.6;}
  ::-moz-placeholder {color:#b3a69d; opacity:0.6;}
  :-ms-input-placeholder {color:#b3a69d;}



  #wrapper {
  height:100%;
  width:100%;
  margin:0 auto;
  display:block;
  background:url("../images/adaptiveBackground.png") no-repeat center center;
  background-size:cover;
  position:relative;

    label {
    color:$labelFontColor;
    }
    input {
  color: rgba(32, 78, 160, 1.0);
    }

    #clientlogin ul:last-child li a {display:block; color:$site-font-color;


    &:hover { color:#2e92b1;}
  }

    button {
    box-shadow:none;
    border:1px solid $button-font-color;
    cursor:pointer;
    color:$button-font-color;

      &:hover {
      background:$button-background-hover;
      color:$button-font-color-hover;
      border:1px solid $site-background;
      }//&hover
    }//button

    a, img, button, button:hover, div {
      /*
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    */
    }

      a {
      text-decoration:none; color:$button-font-color;
      cursor:pointer;

          & img {opacity: 0.8; filter: alpha(opacity=80); /* For IE8 and earlier */

            &:hover {opacity: 1.0; filter: alpha(opacity=100); /* For IE8 and earlier */ }
          }
      }//end 'a'

      #top {
      margin:0;
      padding:0;
      ul, li, i, a, button {margin:0; padding:0;}
      width:100%;
      display:block;
      color:#ffffff;
      width:100%;
      background:#1d1f20;
              //used for swatches and font ID's
        %top-li {display:block; cursor:pointer; min-height:40px;
          i {padding:8px; color:#ffffff;}
          &.top-active { background:$site-background;}

          &[data-theme="font-theme-a"] {font-size:16px;}
          &[data-theme="font-theme-b"] {font-size:20px;}
          &[data-theme="font-theme-c"] {font-size:24px;}
        }


        #swatches {
        float:left;
        width:30%;
        font-size:24px;

          ul {
            li {
            float:left;
            @extend %top-li;
            color:#ffffff;

            &.top-active {
            }
            &:hover {@extend %glow;}

            }
          }


        }//swatches

        #mainmenu-btn {margin:0 auto; display:table; padding-top:5px;

          button {
          border:none;
            &:hover {
            border:1px solid transparent;
            background: url('../images/menu-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
        		background: url('../images/menu-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
        		background: url('../images/menu-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
        		background: url('../images/menu-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
        		background-position: center center;
        		background-repeat: no-repeat;
        		background-size: 21px, 100%;
          background-color: rgba(0,0,0,.5); }
          }

          a {
          float:right;
          padding:0 10px;
            i {
            color:#ffffff; font-size:28px;border: 1px solid transparent;
            }
            &:hover {border-radius:5px;
        		background-color: rgba(0,0,0,.5);
            @extend %glow;

            }
          }
        }

        #fontsizing {
        float:right;
        width:30%;

          ul {

            li {
            line-height:100%;
            float:right;
            color:#ffffff;
            overflow:hidden;
            @extend %top-li;

            &:hover {@extend %glow;}
            }
          }
        }
      }//top

    header#header {
    width:100%;
    min-height:45px;
    display:inline-block;
    position:absolute;
    }//close header

    #content {
    width:90%;
    margin:0.5% auto;
    clear:both;
    display:block;

      a {
        //empty

        #largeArea {
        width:100%;
        height:500px;
        margin:0 auto;
        display:block;
        }// close largeArea
      }// close 'a'
    }//close content


    .settings {
    width:100%;
    margin:0 auto;
    background:transparent;

        h4 {
        font-size:110%;

          .indent {

          }//indent
        }//h4

        .row {
        width:100%;

          form {
          margin-bottom:5px;
          color:$site-font-color;

            :first-child {
            //empty

              ul {
              //empty

                li {
                border:none;
                }//close :first-child li
              }//close :first-child ul
            }//close :first-child

            ul {
              padding:0;
              margin:0;

              li {
                border:1px solid #000000;
                list-style:outside none none;
                margin-bottom:5px;
              }//close form ul li
            }//close form ul
          }//close form
        }//close row
    }//close settings
  }//end wrapper


    footer {
      width:100%;
      position:fixed;
      bottom:0;
      margin:0 auto;
      text-align:center;
      clear:both;
      font-size:12px;

        #footer {
        clear:both;
          //empty
        }
    }//close footer


/* Generic */
input {
border:none;
box-shadow:none;
font-weight:bold;
padding:5px;
margin:0;

}//input

form {
border:none;

  h3 {
  padding-bottom:8px;
  }//h3

}//form

}//body
  }//close mixin

//  $name,                      $site-font-color,          $site-background,    $button-font-color,
//  $button-background-hover,   $button-font-color-hover,  $labelFontColor

// Light
@include theme(data-swatch-theme-a, #000000, #ffffff, #000000,
              #000000, #ffffff, #000000);

// Colour Blind
@include theme(data-swatch-theme-b, #000000, #fcfc4b , #3d6ab3,
              #1f6378, #ffe800, #000000);

// Black
@include theme(data-swatch-theme-c, #ffffff, #000000, #000000,
              #000000, #ffffff, #000000);
