@charset 'UTF-8';

// Colors
$white: rgba(255, 255, 255, 1.0);
$black: rgba(0, 0, 0, 1.0);
$black-opacity: rgba(0, 0, 0, 0.5);

$red: #e2061c;

$gray-light: #c9c8c8;
$gray: #838282;
$gray-dark: #333333;

$blue-light:#add8e6;//logo light blue
$blue: #253652;
$blue-dark: #1f6378;

$blue-light-opacity-partial: rgba(114, 188, 212, 0.1);
$blue-light-opacity-hover: rgba(114, 188, 212, 0.4);

// Site theme
$background: orange;
$top-bar-color: #ffffff; //font color
$top-logo-background:orange;

//Anchors

// Font
$base-font-size: 16px;
$base-font-family: Helvetica, Arial, Sans-Serif;
$base-font-color: $gray-dark;

// Border
$base-border:2px;
$thick-border-hidden: 4px solid transparent;
$thick-border-show: 4px solid $gray-light;
$base-border-radius: 2px;
$rounded-border-radius: 50%;
$base-border-color: $gray;

// Forms
$form-color: $base-font-color;

@import '../../default.scss';
