%zeroPM {padding:0; margin:0;}

%transitions {
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

// Top Bar UX formatting
%top-li {display:block; padding:2%; cursor:pointer; height:19px; overflow:hidden;}

/* Buttons */
%button {box-shadow:none; border:1px solid $button-font-color; cursor:pointer;
  & :hover {background:$button-background-hover;}
}
