//Author: KW
// all content in this document carried out by ABOVE author
html {
  body {
  %primary-nav-color {color:#ffffff;}
  &.data-swatch-theme-a {
  .three {background:rgba(216,244,253, 0.8);}
  #wrapper {
  .primary-nav li a {@extend %primary-nav-color;}

    #content{
    h5 {color:#ffffff;}
    .global {
      .row {
        &:first-child{background:rgba(81,154,177, 0.8);}
        &:last-child{
          ul {
            li{
              &:nth-child(odd) {background:#C0D9D9;}//li:nth
    					&:nth-child(even) {background:#D1EEEE;}//li:nth
    					&:hover {background:#79CDCD;}
              &.advertItem {
                label{}
              }
            }
          }
        }
      }//row
    }//global
    }
  }
  }
//KW 28.05 Assigning colour blind theme font-color
  &.data-swatch-theme-b {
    .three {background:rgba(255,255,255,0.4);}
    #wrapper {
    .primary-nav li a {@extend %primary-nav-color;}

      #content {
      //violet
      h5 {color:#407b8d;}
    }
  }
}
  &.data-swatch-theme-c {
    .three {background:rgba(10,21,24, 0.2);}
    #wrapper {
    .primary-nav li a {@extend %primary-nav-color;}

      #content {
        .global {
          .row{
            &:first-child {
            background:rgba(81,154,177, 0.8);

              .wrapper {
                .left {
                  color:#ffffff;
                }
              }
            }
          }
        }
      }
        #identity {color:#000000;}
        h3 {color:#000000;}
        h5 {color:#ffffff;}
        .options {
          .dashboard {
            .row{
              .options {
                li {
                  a {color:#000000;
                    span {}
                  }
                }
              }
            }
          }
        }
      }
    }//wrapper
  }
}
