/**/
/* Variables */
/**/
/* Classes */
/* line 1, ../../resources/assets/sass/_classes.scss */
.hidden {
  display: none; }

/* line 2, ../../resources/assets/sass/_classes.scss */
.shown {
  display: block; }

/* line 3, ../../resources/assets/sass/_classes.scss */
.clear {
  clear: both; }

/* line 4, ../../resources/assets/sass/_classes.scss */
.right {
  float: right; }

/* line 5, ../../resources/assets/sass/_classes.scss */
.alert-danger {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }
  /* line 7, ../../resources/assets/sass/_classes.scss */
  .alert-danger li {
    list-style: none; }

/**/
/* line 10, ../../resources/assets/sass/_classes.scss */
.indent {
  padding-left: 1%; }

/* Theme */
/* line 1, ../../resources/assets/sass/_theme.scss */
body {
  padding: 0;
  margin: 0;
  font-family: verdana;
  color: white;
  background: url("/images/bg.gif");
  background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 20px 20px;
  background-size: 10px 10px; }
  /* line 15, ../../resources/assets/sass/_theme.scss */
  body #wrapper {
    height: auto;
    display: block;
    width: 100%;
    margin: 0 auto;
    min-width: 1325px; }
    /* line 22, ../../resources/assets/sass/_theme.scss */
    body #wrapper h1, body #wrapper h2, body #wrapper h3, body #wrapper h4, body #wrapper h5 {
      margin: 0;
      padding: 0;
      color: white; }
    /* line 28, ../../resources/assets/sass/_theme.scss */
    body #wrapper article {
      margin: 10px 0; }
    /* line 32, ../../resources/assets/sass/_theme.scss */
    body #wrapper button {
      box-shadow: none;
      border: 1px solid black;
      background: #3a3a3a none repeat scroll 0 0;
      color: white;
      padding: 5px; }
    /* line 40, ../../resources/assets/sass/_theme.scss */
    body #wrapper button:hover {
      background: #1f6378; }
    /* line 46, ../../resources/assets/sass/_theme.scss */
    body #wrapper a, body #wrapper img, body #wrapper button, body #wrapper button:hover {
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s; }
    /* line 54, ../../resources/assets/sass/_theme.scss */
    body #wrapper a {
      color: #009632;
      text-decoration: none; }
      /* line 58, ../../resources/assets/sass/_theme.scss */
      body #wrapper a img {
        border: 0;
        opacity: 0.8;
        filter: alpha(opacity=80);
        /* For IE8 and earlier */ }
        /* line 63, ../../resources/assets/sass/_theme.scss */
        body #wrapper a img :hover {
          opacity: 1.0;
          filter: alpha(opacity=100);
          /* For IE8 and earlier */ }
    /* line 69, ../../resources/assets/sass/_theme.scss */
    body #wrapper #signedin {
      font-weight: bold;
      margin: 5px 10px;
      padding: 0;
      font-size: 12px;
      float: right; }
      /* line 76, ../../resources/assets/sass/_theme.scss */
      body #wrapper #signedin #signinName {
        color: yellow; }
      /* line 80, ../../resources/assets/sass/_theme.scss */
      body #wrapper #signedin #signinLocation {
        color: orange; }
      /* line 84, ../../resources/assets/sass/_theme.scss */
      body #wrapper #signedin #signinPriv {
        color: red; }
    /* line 94, ../../resources/assets/sass/_theme.scss */
    body #wrapper header#header {
      width: 100%;
      display: block;
      display: inline-block; }
      /* line 97, ../../resources/assets/sass/_theme.scss */
      body #wrapper header#header .head {
        width: 50%;
        float: left; }
        /* line 101, ../../resources/assets/sass/_theme.scss */
        body #wrapper header#header .head img {
          width: 20%;
          margin-left: 5%; }
      /* line 107, ../../resources/assets/sass/_theme.scss */
      body #wrapper header#header .head:last-child {
        float: right;
        padding-top: 10px; }
      /* line 112, ../../resources/assets/sass/_theme.scss */
      body #wrapper header#header nav {
        width: auto;
        float: right;
        padding: 1%;
        font-size: 16px;
        font-weight: bold; }
        /* line 119, ../../resources/assets/sass/_theme.scss */
        body #wrapper header#header nav ul {
          padding: 0;
          margin: 0; }
          /* line 123, ../../resources/assets/sass/_theme.scss */
          body #wrapper header#header nav ul li:first-child {
            margin-left: 10px; }
          /* line 126, ../../resources/assets/sass/_theme.scss */
          body #wrapper header#header nav ul li {
            list-style: none;
            float: left; }
            /* line 130, ../../resources/assets/sass/_theme.scss */
            body #wrapper header#header nav ul li a {
              padding: 2px 20px;
              color: white;
              text-decoration: none; }
              /* line 136, ../../resources/assets/sass/_theme.scss */
              body #wrapper header#header nav ul li a i .fa.fa-home {
                font-size: 20px; }
              /* line 139, ../../resources/assets/sass/_theme.scss */
              body #wrapper header#header nav ul li a img {
                width: 100%; }
    /* line 148, ../../resources/assets/sass/_theme.scss */
    body #wrapper #content {
      min-width: 1024px;
      width: 98%;
      margin: 2% auto;
      clear: both;
      display: block; }
      /* line 158, ../../resources/assets/sass/_theme.scss */
      body #wrapper #content a #largeArea {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        display: block; }
    /* line 167, ../../resources/assets/sass/_theme.scss */
    body #wrapper .settings {
      width: 100%;
      margin: 0 auto;
      background: transparent; }
      /* line 172, ../../resources/assets/sass/_theme.scss */
      body #wrapper .settings h4 {
        font-size: 20px; }
      /* line 180, ../../resources/assets/sass/_theme.scss */
      body #wrapper .settings .row {
        width: 100%; }
        /* line 183, ../../resources/assets/sass/_theme.scss */
        body #wrapper .settings .row form {
          margin-bottom: 5px; }
          /* line 192, ../../resources/assets/sass/_theme.scss */
          body #wrapper .settings .row form :first-child ul li {
            border: none; }
          /* line 198, ../../resources/assets/sass/_theme.scss */
          body #wrapper .settings .row form ul {
            padding: 0;
            margin: 0; }
            /* line 202, ../../resources/assets/sass/_theme.scss */
            body #wrapper .settings .row form ul li {
              border: 1px solid #000000;
              list-style: outside none none;
              margin-bottom: 5px; }
    /* line 212, ../../resources/assets/sass/_theme.scss */
    body #wrapper footer {
      width: 100%;
      margin: 0 auto;
      text-align: right;
      clear: both;
      color: white;
      position: fixed;
      bottom: 2px;
      right: 2px;
      font-size: 12px; }

/* Animation */
/* Home animation*/
/**/
/* line 3, ../../resources/assets/sass/_animation.scss */
.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 9, ../../resources/assets/sass/_animation.scss */
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
  transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear; }

/* line 21, ../../resources/assets/sass/_animation.scss */
.plane.main .circle {
  width: 120px;
  height: 120px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 60px #1d718b, inset 0 0 60px #1d718b; }

@-webkit-keyframes rotate {
  /* line 35, ../../resources/assets/sass/_animation.scss */
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  /* line 39, ../../resources/assets/sass/_animation.scss */
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(300deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(300deg); } }

@keyframes rotate {
  /* line 46, ../../resources/assets/sass/_animation.scss */
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
    transform: rotateX(0) rotateY(0) rotateZ(0); }

  /* line 50, ../../resources/assets/sass/_animation.scss */
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

/* Pages */
/* Login */
/**/
/* line 5, ../../resources/assets/sass/_pages.scss */
body#login form#clientlogin,
body#register form#register {
  width: 20%;
  margin: 0 auto;
  padding: 2%;
  color: #ffffff; }

/* line 8, ../../resources/assets/sass/_pages.scss */
body#login form#clientlogin ul,
body#register form#register ul {
  padding-left: 0;
  list-style: none; }

/* line 11, ../../resources/assets/sass/_pages.scss */
body#login form#clientlogin ul li,
body#register form#register ul li {
  width: 100%;
  margin: 0;
  padding: 0; }

/* line 14, ../../resources/assets/sass/_pages.scss */
body#login form#clientlogin ul li label,
body#register form#register ul li label {
  display: block;
  padding: 5px 0px; }

/* line 17, ../../resources/assets/sass/_pages.scss */
body#login form#clientlogin ul li input,
body#register form#register ul li input {
  width: 100%;
  margin: 0 auto;
  padding: 5px 5px; }

/* line 19, ../../resources/assets/sass/_pages.scss */
body form input.submit {
  margin-top: 10px;
  border: none;
  background: #7a8aff;
  padding: 5px 10px; }

/* Team Page - Public */
/* line 23, ../../resources/assets/sass/_pages.scss */
body#team #content section {
  text-align: center;
  clear: both; }

/* line 24, ../../resources/assets/sass/_pages.scss */
body#team #content section article {
  float: left;
  width: 22%;
  padding: 1%; }

/* line 25, ../../resources/assets/sass/_pages.scss */
body#team #content section article img {
  width: 50%;
  border-radius: 2px; }

/* line 26, ../../resources/assets/sass/_pages.scss */
body#team #content section article p {
  text-align: justify;
  color: #ffffff; }

/* Dashboard Page - Login Required */
/*Dashboard Settings */
/* line 30, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row {
  width: 50%;
  float: left; }

/* line 32, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form {
  width: 80%;
  margin: 0 auto; }

/* line 34, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li {
  width: 50%;
  margin: 0px auto;
  padding: 0;
  padding-bottom: 20px; }

/* line 35, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li label {
  min-width: 120px; }

/* line 36, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li.twoinputs label {
  min-width: 120px; }

/* line 37, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li.twoinputs label.smalllabel {
  min-width: 90px; }

/* line 38, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li.twoinputs input {
  float: right;
  margin-right: 10px; }

/* line 39, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li.twoinputs input:last-child {
  margin-right: 0px; }

/* Dashboard Admin / Super */
/* line 42, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section {
  background: transparent;
  text-align: center; }

/* line 43, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section h4 {
  text-align: left; }

/* line 44, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0; }

/* line 45, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul li {
  float: left;
  margin: 0.2%; }

/* line 46, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul li a {
  display: block;
  background: #3a3a3a;
  border-radius: 2px;
  min-width: 90px;
  border: 1px solid black;
  color: #ffffff;
  padding: 10px; }

/* line 47, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul li a:hover {
  background: #1f6378;
  color: #ffffff; }

/* line 48, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul li a i {
  font-size: 2em; }

/* line 49, ../../resources/assets/sass/_pages.scss */
body#dashboard #content section article ul li a i span {
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-top: 4px;
  display: block; }

/* Targeting class for ALL pages using row classes by Josh wireframes */
/* line 52, ../../resources/assets/sass/_pages.scss */
body #wrapper #content .settings .row form ul li {
  width: 94%;
  border: 1px solid black;
  list-style: outside none none;
  margin-bottom: 10px;
  padding: 15px; }

/* line 53, ../../resources/assets/sass/_pages.scss */
body #wrapper #content .settings .row form ul li button {
  float: right; }

/* Individual page differentiations */
/* Dashboard - Login Required */
/* line 58, ../../resources/assets/sass/_pages.scss */
body#dashboard #wrapper #content .settings .row form ul li,
body#userpage #wrapper #content .settings .row:first-child form ul li {
  margin: 0px;
  padding: 0;
  border: none;
  display: flex;
  margin-top: 10px; }

/* Users & Admins - Login Required */
/* line 62, ../../resources/assets/sass/_pages.scss */
body#users #wrapper #content .settings .row form ul li input,
body#admins #wrapper #content .settings .row form ul li input {
  width: 94%; }

/* Locations - Login Required */
/* line 65, ../../resources/assets/sass/_pages.scss */
body#locations #wrapper #content .settings .row form ul li input {
  width: 91%; }

/* Screens - Login Required */
/* line 68, ../../resources/assets/sass/_pages.scss */
body#screens #wrapper #content .settings .row form ul li input {
  width: 60%; }

/* line 69, ../../resources/assets/sass/_pages.scss */
body#screens #wrapper #content .settings .row form ul li select {
  width: 30%; }

/* Userpage -Login Require */
/* line 72, ../../resources/assets/sass/_pages.scss */
body#userpage #wrapper #content .settings .row form ul {
  clear: both; }

/* Page Editor */
/* #right */
/* line 77, ../../resources/assets/sass/_pages.scss */
body #right {
  float: left;
  width: 360px;
  background: transparent;
  box-sizing: border-box; }

/* line 78, ../../resources/assets/sass/_pages.scss */
body #right ul {
  margin: 0 auto;
  background: transparent;
  display: block;
  padding: 0;
  margin-left: 10px; }

/* line 79, ../../resources/assets/sass/_pages.scss */
body #right ul li {
  display: block;
  background: transparent;
  margin: 5px auto;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid black; }

/* line 80, ../../resources/assets/sass/_pages.scss */
body #right ul li:first-child {
  margin-top: 0; }

/* line 81, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation {
  padding: 0;
  margin: 0; }

/* line 82, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation a {
  display: block; }

/* line 83, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation button {
  background: #ffffff;
  color: #000000;
  width: 50%;
  border: 1px solid black;
  float: left;
  padding: 5px;
  overflow: hidden; }

/* line 84, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation button:first-child {
  margin-left: 0px; }

/* line 86, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation button:active,
body #right ul li#orientation button:hover {
  background: #ffffff;
  cursor: pointer; }

/* line 87, ../../resources/assets/sass/_pages.scss */
body #right ul li#orientation button.active {
  background: yellow; }

/* line 90, ../../resources/assets/sass/_pages.scss */
body #right ul li textarea,
body #right ul li input {
  width: 90%;
  margin: 0 auto; }

/* line 91, ../../resources/assets/sass/_pages.scss */
body #right ul li label {
  display: block; }

/* Page Editor landscape */
/* line 94, ../../resources/assets/sass/_pages.scss */
body #left {
  float: left;
  width: 920px;
  min-height: 300px; }

/* line 95, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box; }

/* line 96, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer:last-child {
  height: 100px;
  background: orange;
  margin-top: 5px; }

/* line 97, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer ul.theme_select {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block; }

/* line 98, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer ul.theme_select li {
  width: 20%;
  float: left; }

/* line 99, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer ul.theme_select li a {
  display: block; }

/* line 100, ../../resources/assets/sass/_pages.scss */
body #left.landscape .pagecontainer ul.theme_select li a img {
  width: 100%; }

/* Page Editor portrait */
/* line 104, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer {
  float: left;
  width: 700px;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box;
  border-radius: 2px; }

/* line 105, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer:last-child {
  float: left;
  width: 210px;
  background: orange;
  margin-left: 10px; }

/* line 106, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer ul.theme_select {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  display: block; }

/* line 107, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer ul.theme_select li {
  width: 50%;
  float: left; }

/* line 108, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer ul.theme_select li a {
  display: block; }

/* line 109, ../../resources/assets/sass/_pages.scss */
body #left.portrait .pagecontainer ul.theme_select li a img {
  width: 100%; }

/* Global */
/* line 112, ../../resources/assets/sass/_pages.scss */
body #left.pagecontainer {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box; }

/* Adverts*/
/* line 116, ../../resources/assets/sass/_pages.scss */
body #right ul li {
  padding: 0px; }

/* line 119, ../../resources/assets/sass/_pages.scss */
body #right ul li,
body #left li {
  list-style: none; }

/* line 123, ../../resources/assets/sass/_pages.scss */
body #right ul li button,
body #left li button,
body#advertDetails #content .topbutton button {
  padding: 4%;
  width: 100%; }

/* line 124, ../../resources/assets/sass/_pages.scss */
body #left .pagecontainer {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box; }

/* line 126, ../../resources/assets/sass/_pages.scss */
body#playlistTimings #left {
  width: 100%; }

/* line 129, ../../resources/assets/sass/_pages.scss */
body#playlistTimings #left .pagecontainer form #startend {
  margin: 0 auto;
  display: block;
  padding-left: 0;
  width: 65%; }

/* line 130, ../../resources/assets/sass/_pages.scss */
body#playlistTimings #left .pagecontainer form #daily {
  clear: both;
  margin: 0 auto;
  width: 100%;
  padding: 1%; }

/* line 131, ../../resources/assets/sass/_pages.scss */
body#playlistTimings #right {
  display: none; }

/* line 135, ../../resources/assets/sass/_pages.scss */
body#advertEditor #right,
body#advertDetails #right,
body#playlistEditor #right {
  width: 80px; }

/* line 139, ../../resources/assets/sass/_pages.scss */
body#advertEditor #right ul li,
body#advertDetails #right ul li,
body#playlistEditor #right ul li {
  padding: 0px; }

/* line 143, ../../resources/assets/sass/_pages.scss */
body#advertEditor #right ul li button,
body#advertDetails #right ul li button,
body#playlistEditor #right ul li button {
  height: 200px; }

/* line 146, ../../resources/assets/sass/_pages.scss */
body#advertEditor #left,
body#playlistEditor #left {
  width: 1200px; }

/* line 149, ../../resources/assets/sass/_pages.scss */
body#advertEditor #left .pagecontainer,
body#playlistTimings #left .pagecontainer {
  float: right;
  width: 25%;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box; }

/* line 152, ../../resources/assets/sass/_pages.scss */
body#advertEditor #left .pagecontainer:first-child,
body#playlistEditor #left .pagecontainer:first-child {
  width: 75%;
  background: transparent; }

/* line 154, ../../resources/assets/sass/_pages.scss */
body#advertDetails #left {
  width: 1200px; }

/* line 156, ../../resources/assets/sass/_pages.scss */
body#advertDetails #left .pagecontainer,
body#playlistTimings #left .pagecontainer {
  float: right;
  width: 100%;
  height: 400px;
  border: 1px solid black;
  background: transparent;
  box-sizing: border-box; }

/* line 159, ../../resources/assets/sass/_pages.scss */
body#advertDetails #content .topbutton,
body#playlistTimings #content .topbutton {
  float: right;
  margin-bottom: 1%;
  width: 200px; }

/* Template Layout
@import "_template.scss";
*/
/* forms */
/* line 1, ../../resources/assets/sass/_forms.scss */
input {
  border: none;
  box-shadow: none;
  color: black;
  background: #ffeebf;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  padding: 4px; }

/* line 2, ../../resources/assets/sass/_forms.scss */
form {
  border: none;
  color: white; }

/* line 5, ../../resources/assets/sass/_forms.scss */
form h3 {
  padding-bottom: 8px; }
