/**/
/* line 2, ../../resources/assets/sass/template.scss */
#plus_container {
  width: 100%;
}
/* line 5, ../../resources/assets/sass/template.scss */
#plus_container #header {
  height: 60px;
  background: white;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 8, ../../resources/assets/sass/template.scss */
#plus_container #header h1 {
  line-height: 80%;
  margin-left: 2%;
}
/* line 13, ../../resources/assets/sass/template.scss */
#plus_container .row1 {
  clear: both;
}
/* line 16, ../../resources/assets/sass/template.scss */
#plus_container .row1 .quad {
  float: left;
}
/* line 22, ../../resources/assets/sass/template.scss */
#plus_container .row2 {
  clear: both;
}
/* line 25, ../../resources/assets/sass/template.scss */
#plus_container .row2 .quad {
  float: left;
}
/* line 31, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfour .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 34, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfour .row :last-child {
  margin-top: 1%;
}
/* line 37, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfour .row .quad {
  float: left;
  display: block;
  width: 46%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 39, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfour .row .quad p {
  text-align: justify;
}
/* line 43, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfour .row .quad img {
  width: 80%;
  max-height: 200px;
}
/* line 51, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfourReverse .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 53, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfourReverse .row :last-child {
  margin-top: 1%;
}
/* line 56, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfourReverse .row .quad {
  float: right;
  display: block;
  width: 46%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 58, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfourReverse .row .quad p {
  text-align: justify;
}
/* line 62, ../../resources/assets/sass/template.scss */
#plus_container .theme_fourbyfourReverse .row .quad img {
  width: 80%;
  max-height: 200px;
}
/* line 70, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwo .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 72, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwo .row :last-child {
  margin-top: 0%;
  display: none;
}
/* line 75, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwo .row .quad {
  float: left;
  display: block;
  width: 46%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 77, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwo .row .quad p {
  text-align: justify;
}
/* line 81, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwo .row .quad img {
  width: 80%;
  max-height: 200px;
}
/* line 89, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwoReverse .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 91, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwoReverse .row :last-child {
  margin-top: 0%;
  display: none;
}
/* line 94, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwoReverse .row .quad {
  float: right;
  display: block;
  width: 46%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 96, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwoReverse .row .quad p {
  text-align: justify;
}
/* line 100, ../../resources/assets/sass/template.scss */
#plus_container .theme_twobytwoReverse .row .quad img {
  width: 80%;
  max-height: 200px;
}
/* line 108, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 110, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row :last-child {
  margin-top: 0%;
  display: none;
}
/* line 113, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row .quad {
  display: block;
  float: left;
  width: 96%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 115, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row .quad p {
  text-align: justify;
}
/* line 119, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row .quad img {
  width: 100%;
  max-height: 200px;
}
/* line 122, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneVideo .row .quad video {
  width: 100%;
  max-height: 650px;
}
/* line 131, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneImages .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 136, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneImages .row .quad :first-child {
  display: block;
  float: left;
  width: 96%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 139, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneImages .row .quad :first-child p {
  text-align: justify;
}
/* line 143, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneImages .row .quad :first-child img {
  width: 100%;
  max-height: 200px;
}
/* line 148, ../../resources/assets/sass/template.scss */
#plus_container .theme_oneImages .row .quad :last-child {
  margin-top: 0%;
  display: none;
}
/* line 156, ../../resources/assets/sass/template.scss */
#plus_container .theme_twoImages .row {
  clear: both;
  display: block;
  min-height: 250px;
}
/* line 158, ../../resources/assets/sass/template.scss */
#plus_container .theme_twoImages .row :last-child {
  margin-top: 0%;
  display: none;
}
/* line 161, ../../resources/assets/sass/template.scss */
#plus_container .theme_twoImages .row .quad {
  float: right;
  display: block;
  width: 46%;
  text-align: center;
  padding: 2%;
  background: orange;
}
/* line 163, ../../resources/assets/sass/template.scss */
#plus_container .theme_twoImages .row .quad p {
  text-align: justify;
}
/* line 167, ../../resources/assets/sass/template.scss */
#plus_container .theme_twoImages .row .quad img {
  width: 80%;
  max-height: 500px;
}
