/**/
/* line 2, ../../resources/assets/sass/template.scss */
#plus_container {
  width: 100%; }
  /* line 5, ../../resources/assets/sass/template.scss */
  #plus_container #header {
    height: 60px;
    background: white;
    margin-top: 2%;
    margin-bottom: 2%; }
    /* line 8, ../../resources/assets/sass/template.scss */
    #plus_container #header h1 {
      line-height: 80%;
      margin-left: 2%; }
  /* line 13, ../../resources/assets/sass/template.scss */
  #plus_container .row1 {
    clear: both;
    display: block; }
    /* line 17, ../../resources/assets/sass/template.scss */
    #plus_container .row1 .quad {
      float: left; }
  /* line 23, ../../resources/assets/sass/template.scss */
  #plus_container .row2 {
    clear: both;
    display: block; }
    /* line 27, ../../resources/assets/sass/template.scss */
    #plus_container .row2 .quad {
      float: left; }
  /* line 33, ../../resources/assets/sass/template.scss */
  #plus_container .theme_fourbyfour .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 36, ../../resources/assets/sass/template.scss */
    #plus_container .theme_fourbyfour .row :last-child {
      margin-top: 1%; }
    /* line 39, ../../resources/assets/sass/template.scss */
    #plus_container .theme_fourbyfour .row .quad {
      float: left;
      display: block;
      width: 46%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 41, ../../resources/assets/sass/template.scss */
      #plus_container .theme_fourbyfour .row .quad p {
        text-align: justify; }
      /* line 45, ../../resources/assets/sass/template.scss */
      #plus_container .theme_fourbyfour .row .quad img {
        width: 80%;
        max-height: 200px; }
  /* line 53, ../../resources/assets/sass/template.scss */
  #plus_container .theme_fourbyfourReverse .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 55, ../../resources/assets/sass/template.scss */
    #plus_container .theme_fourbyfourReverse .row :last-child {
      margin-top: 1%; }
    /* line 58, ../../resources/assets/sass/template.scss */
    #plus_container .theme_fourbyfourReverse .row .quad {
      float: right;
      display: block;
      width: 46%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 60, ../../resources/assets/sass/template.scss */
      #plus_container .theme_fourbyfourReverse .row .quad p {
        text-align: justify; }
      /* line 64, ../../resources/assets/sass/template.scss */
      #plus_container .theme_fourbyfourReverse .row .quad img {
        width: 80%;
        max-height: 200px; }
  /* line 72, ../../resources/assets/sass/template.scss */
  #plus_container .theme_twobytwo .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 74, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twobytwo .row :last-child {
      margin-top: 0%;
      display: none; }
    /* line 77, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twobytwo .row .quad {
      float: left;
      display: block;
      width: 46%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 79, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twobytwo .row .quad p {
        text-align: justify; }
      /* line 83, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twobytwo .row .quad img {
        width: 80%;
        max-height: 200px; }
  /* line 91, ../../resources/assets/sass/template.scss */
  #plus_container .theme_twobytwoReverse .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 93, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twobytwoReverse .row :last-child {
      margin-top: 0%;
      display: none; }
    /* line 96, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twobytwoReverse .row .quad {
      float: right;
      display: block;
      width: 46%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 98, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twobytwoReverse .row .quad p {
        text-align: justify; }
      /* line 102, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twobytwoReverse .row .quad img {
        width: 80%;
        max-height: 200px; }
  /* line 110, ../../resources/assets/sass/template.scss */
  #plus_container .theme_oneVideo .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 112, ../../resources/assets/sass/template.scss */
    #plus_container .theme_oneVideo .row :last-child {
      margin-top: 0%;
      display: none; }
    /* line 115, ../../resources/assets/sass/template.scss */
    #plus_container .theme_oneVideo .row .quad {
      display: block;
      float: left;
      width: 96%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 117, ../../resources/assets/sass/template.scss */
      #plus_container .theme_oneVideo .row .quad p {
        text-align: justify; }
      /* line 121, ../../resources/assets/sass/template.scss */
      #plus_container .theme_oneVideo .row .quad img {
        width: 100%;
        max-height: 200px; }
      /* line 124, ../../resources/assets/sass/template.scss */
      #plus_container .theme_oneVideo .row .quad video {
        width: 100%;
        max-height: 650px; }
  /* line 133, ../../resources/assets/sass/template.scss */
  #plus_container .theme_oneImages .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 138, ../../resources/assets/sass/template.scss */
    #plus_container .theme_oneImages .row .quad :first-child {
      display: block;
      float: left;
      width: 96%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 141, ../../resources/assets/sass/template.scss */
      #plus_container .theme_oneImages .row .quad :first-child p {
        text-align: justify; }
      /* line 145, ../../resources/assets/sass/template.scss */
      #plus_container .theme_oneImages .row .quad :first-child img {
        width: 100%;
        max-height: 200px; }
    /* line 150, ../../resources/assets/sass/template.scss */
    #plus_container .theme_oneImages .row .quad :last-child {
      margin-top: 0%;
      display: none; }
  /* line 158, ../../resources/assets/sass/template.scss */
  #plus_container .theme_twoImages .row {
    clear: both;
    display: block;
    min-height: 250px; }
    /* line 160, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twoImages .row :last-child {
      margin-top: 0%;
      display: none; }
    /* line 163, ../../resources/assets/sass/template.scss */
    #plus_container .theme_twoImages .row .quad {
      float: right;
      display: block;
      width: 46%;
      text-align: center;
      padding: 2%;
      background: orange; }
      /* line 165, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twoImages .row .quad p {
        text-align: justify; }
      /* line 169, ../../resources/assets/sass/template.scss */
      #plus_container .theme_twoImages .row .quad img {
        width: 80%;
        max-height: 500px; }
