// Advert Templates
// Advert template default
%advert-template-default {
display:block;
width:100%;
font-size:120%;
}

%advert-template-default-image {
text-align:center;

  & img {
  width:50%;
  }//img
}//%advert-template-default-image

%advert-template-default-text {

  & p {
  text-align:justify
  }//p
}//%advert-template-default-text
