#serve_container {
////////////////////////

$template-h1-backround-color:red;
$template-h1-color:white;
$template-h1-height:50px;
$template-h1-display:initial;

$template-img-float:left;
$template-img-width:50%;
$template-img-display:initial;

$template-text-float:right;
$template-text-width:50%;
$template-text-p-align:justify;
$template-text-display:initial;

width:100%;
overflow:hidden;
////////////////////////

	#header {
	width:100%;

		h1 {
		display:$template-h1-display;
		background:$template-h1-backround-color;
		color:$template-h1-color;}//h1
		min-height:$template-h1-height;
	}//header

	#serve_image {
	display:$template-img-display;
	float:$template-img-float;
	width:$template-img-width;

		img {width:100%}
	}

  #serve_text {
	display:$template-text-display;
	float:$template-text-float;
	width:$template-text-width;

		p {text-align:	$template-text-p-align}
	}

	.template2 {
	$template-h1-backround-color:red;
	$template-h1-color:white;
	$template-h1-display:initial;

	$template-img-float:auto;
	$template-img-width:100%;
	$template-img-display:initial;

	$template-text-float:right;
	$template-text-width:50%;
	$template-text-p-align:justify;
	$template-text-display:none;

	}

	.template3 {
	$template-h1-backround-color:red;
	$template-h1-color:white;
	$template-h1-display:initial;

	$template-img-float:left;
	$template-img-width:50%;
	$template-img-display:initial;

	$template-text-float:right;
	$template-text-width:50%;
	$template-text-p-align:justify;
	$template-text-display:initial;

	}
}
