#serve_container {
	width:100%;
	overflow:hidden;

	#header {
 	width:100%;

		h1 {
		background:white;
		color:#000000;
		}//h1
	}//header
//Reference Advert Template Mixins
}//serve_container

.theme_select ul.theme_select li .active {background:yellow;}

.row, .theme1 .row {
@extend %advert-template-default;

  & #serve_image {
  @extend %advert-template-default-image;
  }

  & #serve_text {
	@extend %advert-template-default-text;
	}
}

.theme2 .row {
@extend %advert-template-default;

	& #serve_image {
	}

	& #serve_text {
	}
}//%advert-template-default-image

.theme3 .row {@extend %advert-template-theme3;}
.theme4 .row {@extend %advert-template-theme4;}
.theme5 .row {@extend %advert-template-theme5;}
.theme6 .row {@extend %advert-template-theme6;}
