@charset "UTF-8";
/* line 1, ../../../../resources/assets/sass/_layouts/_theme.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none; }

/* classes */
/* line 4, ../../../../resources/assets/sass/_layouts/_theme.scss */
.hidden {
  display: none; }

/* line 5, ../../../../resources/assets/sass/_layouts/_theme.scss */
.shown {
  display: block; }

/* line 6, ../../../../resources/assets/sass/_layouts/_theme.scss */
.clear {
  clear: both; }

/* line 7, ../../../../resources/assets/sass/_layouts/_theme.scss */
.right {
  float: right; }

/* line 8, ../../../../resources/assets/sass/_layouts/_theme.scss */
.alert-danger {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-align: center; }

/* line 11, ../../../../resources/assets/sass/_layouts/_theme.scss */
body {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  color: #333333;
  background: orange; }

/* line 19, ../../../../resources/assets/sass/_layouts/_theme.scss */
#wrapper {
  width: 100%;
  margin: 0 auto;
  min-width: 1325px;
  display: block; }
  /* line 25, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper h1, #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5 {
    color: #333333; }
  /* line 41, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper #top {
    width: 100%;
    background: #1f6378;
    height: 35px;
    color: white; }
    /* line 47, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper #top #swatches {
      float: left;
      width: 30%; }
      /* line 53, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper #top #swatches ul li {
        float: left; }
    /* line 65, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper #top #fontsizing {
      float: right;
      width: 30%; }
      /* line 71, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper #top #fontsizing ul li {
        line-height: 100%;
        float: right; }
        /* line 75, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper #top #fontsizing ul li[data-theme="font-theme-a"] {
          font-size: 160%; }
        /* line 76, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper #top #fontsizing ul li[data-theme="font-theme-b"] {
          font-size: 120%; }
        /* line 77, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper #top #fontsizing ul li[data-theme="font-theme-c"] {
          font-size: 100%; }
    /* line 82, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper #top #logo {
      text-align: center;
      display: block;
      width: auto;
      margin: 0 auto;
      border-radius: 50%;
      background: white; }
      /* line 92, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper #top #logo a img {
        max-width: 18%; }
  /* line 98, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper header#header {
    width: 100%;
    display: block;
    display: inline-block; }
    /* line 101, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper header#header .head {
      width: 50%;
      float: left; }
      /* line 105, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper header#header .head img {
        width: 20%;
        margin-left: 5%; }
    /* line 111, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper header#header .head:last-child {
      float: right;
      padding-top: 10px; }
    /* line 116, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper header#header nav {
      width: auto;
      float: right;
      padding: 1%;
      font-size: 16px;
      font-weight: bold; }
      /* line 126, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper header#header nav ul li:first-child {
        margin-left: 10px; }
      /* line 129, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper header#header nav ul li {
        list-style: none;
        float: left; }
        /* line 133, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper header#header nav ul li a {
          padding: 2px 20px;
          text-decoration: none; }
          /* line 138, ../../../../resources/assets/sass/_layouts/_theme.scss */
          #wrapper header#header nav ul li a i .fa.fa-home {
            font-size: 20px; }
          /* line 141, ../../../../resources/assets/sass/_layouts/_theme.scss */
          #wrapper header#header nav ul li a img {
            width: 100%; }
  /* line 150, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper #content {
    min-width: 1024px;
    width: 98%;
    margin: 2% auto;
    clear: both;
    display: block; }
    /* line 160, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper #content a #largeArea {
      width: 100%;
      height: 500px;
      margin: 0 auto;
      display: block; }
  /* line 169, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper .settings {
    width: 100%;
    margin: 0 auto;
    background: transparent; }
    /* line 174, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper .settings h4 {
      font-size: 20px; }
    /* line 182, ../../../../resources/assets/sass/_layouts/_theme.scss */
    #wrapper .settings .row {
      width: 100%; }
      /* line 185, ../../../../resources/assets/sass/_layouts/_theme.scss */
      #wrapper .settings .row form {
        margin-bottom: 5px;
        color: #333333; }
        /* line 195, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper .settings .row form :first-child ul li {
          border: none; }
        /* line 201, ../../../../resources/assets/sass/_layouts/_theme.scss */
        #wrapper .settings .row form ul {
          padding: 0;
          margin: 0; }
          /* line 205, ../../../../resources/assets/sass/_layouts/_theme.scss */
          #wrapper .settings .row form ul li {
            border: 1px solid #000000;
            list-style: outside none none;
            margin-bottom: 5px; }
  /* line 215, ../../../../resources/assets/sass/_layouts/_theme.scss */
  #wrapper footer {
    width: 100%;
    margin: 0 auto;
    text-align: right;
    clear: both;
    position: fixed;
    bottom: 2px;
    right: 2px;
    font-size: 12px; }

/* Generic */
/* line 232, ../../../../resources/assets/sass/_layouts/_theme.scss */
input {
  border: none;
  box-shadow: none;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  padding: 4px; }

/* line 241, ../../../../resources/assets/sass/_layouts/_theme.scss */
form {
  border: none; }
  /* line 244, ../../../../resources/assets/sass/_layouts/_theme.scss */
  form h3 {
    padding-bottom: 8px; }

/* line 1, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
#wrapper header#header nav ul {
  padding: 0;
  margin: 0; }

/* line 3, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
#wrapper a, #wrapper img, #wrapper button, #wrapper button:hover, #wrapper div {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

/* line 12, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
#wrapper #top #swatches ul li, #wrapper #top #fontsizing ul li {
  display: block;
  padding: 2%;
  cursor: pointer;
  height: 19px;
  overflow: hidden; }

/* line 14, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
#wrapper a {
  text-deciroation: none;
  color: #1f6378; }
  /* line 16, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
  #wrapper a img {
    opacity: 0.8;
    filter: alpha(opacity=80);
    /* For IE8 and earlier */ }
    /* line 17, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
    #wrapper a img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
      /* For IE8 and earlier */ }

/* Buttons */
/* line 22, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
#wrapper button {
  box-shadow: none;
  border: 1px solid #000000;
  cursor: pointer; }
  /* line 23, ../../../../resources/assets/sass/_layouts/_themeMixins.scss */
  #wrapper button :hover {
    background: lightblue; }

/***************************/
/*   Section | Article     */
/***************************/
/* line 4, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
section {
  text-align: center;
  clear: both; }
  /* line 7, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  section article {
    float: left;
    width: 22%;
    padding: 1%; }
    /* line 10, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    section article img {
      width: 50%;
      border-radius: 2px; }
    /* line 14, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    section article p {
      text-align: justify; }

/***************************/
/*        dashboard        */
/***************************/
/* line 25, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
.dashboard .row {
  width: 100%; }
  /* line 28, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .dashboard .row .options {
    background: transparent;
    text-align: center; }
    /* line 31, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    .dashboard .row .options h4 {
      text-align: left; }
    /* line 35, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    .dashboard .row .options ul {
      text-decoration: none;
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 38, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .dashboard .row .options ul li:first-child {
        margin-left: 0; }
      /* line 42, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .dashboard .row .options ul li {
        float: left;
        margin: 1%; }
        /* line 46, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
        .dashboard .row .options ul li a {
          display: block;
          background: #1f6378;
          border-radius: 2px;
          min-width: 90px;
          border: 4px solid transparent;
          color: white;
          padding: 10px; }
          /* line 49, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
          .dashboard .row .options ul li a:hover {
            background: #333333;
            border: 4px solid #c9c8c8; }
          /* line 54, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
          .dashboard .row .options ul li a i {
            font-size: 4em;
            color: white; }
            /* line 58, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
            .dashboard .row .options ul li a i span {
              font-size: 16px;
              padding: 0;
              margin: 0;
              margin-top: 4px;
              display: block; }

/***************************/
/*      Page Editor        */
/***************************/
/* line 74, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
body .pagecontainer #footer {
  width: 100%;
  min-height: 20px;
  background: pink; }

/* line 76, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
#left {
  float: left;
  width: 70%;
  min-height: 300px;
  /* Default Orientation - Landscape*/ }
  /* line 80, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  #left .pagecontainer {
    width: 100%;
    min-height: 400px;
    background: transparent;
    box-sizing: border-box; }
    /* line 85, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    #left .pagecontainer ul.theme_select li {
      width: 20%;
      float: left; }
      /* line 88, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #left .pagecontainer ul.theme_select li a {
        display: block; }
        /* line 91, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
        #left .pagecontainer ul.theme_select li a img {
          width: 100%; }
  /* line 99, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  #left .pagecontainer:last-child {
    min-height: 100px;
    background: transparent;
    margin-top: 5px; }

/* Portrait*/
/* line 107, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
#left.portrait .pagecontainer {
  float: left;
  width: 75%;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px; }
  /* line 110, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  #left.portrait .pagecontainer ul.theme_select {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    display: block; }
    /* line 113, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    #left.portrait .pagecontainer ul.theme_select li {
      width: 100%; }
      /* line 117, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #left.portrait .pagecontainer ul.theme_select li a img {
        width: 50%;
        text-align: center; }
/* line 126, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
#left.portrait .pagecontainer:last-child {
  float: left;
  width: 23%;
  background: orange;
  margin-left: 10px; }

/* line 131, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
#right {
  float: left;
  width: 30%;
  background: transparent;
  box-sizing: border-box; }
  /* line 137, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  #right ul {
    margin: 0 auto;
    background: transparent;
    display: block;
    padding: 0;
    margin-left: 10px; }
    /* line 144, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    #right ul li:first-child {
      margin-top: 0; }
    /* line 148, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    #right ul li {
      display: block;
      background: transparent;
      margin: 5px auto;
      border-radius: 2px;
      padding: 5px;
      border: 2px; }
      /* line 156, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li textarea, #right ul li input {
        width: 90%;
        margin: 0 auto; }
      /* line 161, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li label {
        display: block; }
    /* line 166, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    #right ul li#orientation {
      padding: 0;
      margin: 0; }
      /* line 169, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li#orientation a {
        display: block; }
      /* line 173, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li#orientation button:first-child {
        margin-left: 0px; }
      /* line 177, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li#orientation button.active, #right ul li#orientation button.active:hover {
        background: #1f6378; }
      /* line 181, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li#orientation button {
        background: #ffffff;
        color: #000000;
        width: 50%;
        border: 2px;
        float: left;
        padding: 0px 5px;
        overflow: hidden; }
      /* line 185, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      #right ul li#orientation button:hover {
        background: lightblue;
        cursor: pointer; }

/***************************/
/*         Global          */
/***************************/
/* line 195, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
.global {
  width: 80%;
  margin: 0 auto;
  font-size: 120%; }
  /* line 200, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .global .row {
    margin-bottom: 1%; }
    /* line 205, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    .global .row ul li {
      margin-top: 0.5%; }
      /* line 208, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .global .row ul li a {
        padding: 1% 1% 1% 0; }
      /* line 212, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .global .row ul li input {
        font-size: 90%;
        padding-left: 1%; }
      /* line 217, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .global .row ul li label {
        min-width: 40%; }
      /* line 221, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      .global .row ul li button {
        font-size: 90%;
        float: right;
        margin-left: 1%; }
  /* line 236, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .global .row:last-child ul li a {
    display: block;
    padding: 1%; }
  /* line 249, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .global .row:last-child ul li button:first-child {
    margin-left: 0; }
  /* line 254, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .global .row:last-child ul li:nth-child(odd) {
    background: rgba(114, 188, 212, 0.1); }
  /* line 257, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  .global .row:last-child ul li:hover {
    background: rgba(114, 188, 212, 0.4); }

/***************************/
/*         Login           */
/***************************/
/* line 268, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
form#clientlogin, form#register {
  margin: 0 auto;
  width: 15%;
  text-align: center; }
  /* line 275, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  form#clientlogin ul button, form#register ul button {
    margin: 10% auto;
    width: 50%;
    display: block; }
  /* line 281, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  form#clientlogin ul li, form#register ul li {
    width: 100%; }
    /* line 284, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    form#clientlogin ul li label, form#clientlogin ul li input, form#register ul li label, form#register ul li input {
      width: 100%; }
    /* line 286, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    form#clientlogin ul li label, form#register ul li label {
      display: block;
      margin-top: 1%;
      padding: 1%; }
    /* line 292, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    form#clientlogin ul li input, form#register ul li input {
      display: block;
      margin-top: 0;
      width: 94%;
      text-align: center; }
    /* line 299, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    form#clientlogin ul li input:hover, form#register ul li input:hover {
      background: lightblue;
      cursor: pointer; }
  /* line 307, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
  form#clientlogin ul:last-child, form#register ul:last-child {
    margin-top: 1%; }
    /* line 310, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
    form#clientlogin ul:last-child li, form#register ul:last-child li {
      text-align: left; }
      /* line 313, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      form#clientlogin ul:last-child li a, form#register ul:last-child li a {
        color: lightblue; }
      /* line 317, ../../../../resources/assets/sass/_layouts/_htmlPages.scss */
      form#clientlogin ul:last-child li a:hover, form#register ul:last-child li a:hover {
        color: white; }

/* line 3, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplateMixins.scss */
.row, .theme1 .row, .theme2 .row {
  display: block;
  width: 100%;
  font-size: 120%; }

/* line 9, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplateMixins.scss */
.row #serve_image, .theme1 .row #serve_image {
  text-align: center; }
  /* line 12, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplateMixins.scss */
  .row #serve_image img, .theme1 .row #serve_image img {
    width: 50%; }

/* line 19, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplateMixins.scss */
.row #serve_text p, .theme1 .row #serve_text p {
  text-align: justify; }

/* line 1, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplates.scss */
#serve_container {
  width: 100%;
  overflow: hidden; }
  /* line 5, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplates.scss */
  #serve_container #header {
    width: 100%; }
    /* line 8, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplates.scss */
    #serve_container #header h1 {
      background: white;
      color: #000000; }

/* line 16, ../../../../resources/assets/sass/_layouts/_advertTemplates/_advertTemplates.scss */
.theme_select ul.theme_select li .active {
  background: yellow; }

/* Blue */
/* Red */
/* Green */
/* Yellow */
/* Orange */
/* Pink */
/* Josh's code */
/* advert and playlist editor */
/* line 5, ../../../../resources/assets/sass/_objects/_objects.scss */
.advertItem {
             /*
	width: 300px;
	height:50px;
	*/ }

/* line 11, ../../../../resources/assets/sass/_objects/_objects.scss */
.selected {
  background: lightblue; }

/* pop-up */
/* line 16, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

/* line 32, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

/* line 37, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: orange;
  border: 4px;
  border-color: #fff;
  border-style: solid; }

/* line 49, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialogLeft {
  float: left;
  padding: 20px 40px 10px 0px; }

/* line 54, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog > div > form > input.submit {
  cursor: pointer; }

/* line 58, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog > div > form > div > select {
  width: 220px; }

/* line 62, ../../../../resources/assets/sass/_objects/_objects.scss */
.modalDialog > div > form > input {
  margin: 10px 0px 10px 0px; }

/* line 66, ../../../../resources/assets/sass/_objects/_objects.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

/* line 85, ../../../../resources/assets/sass/_objects/_objects.scss */
.close:hover {
  background: #00d9ff; }

/*
body {
  //SWATCH THEME A
  &.data-swatch-theme-a, & #top ul li.top-active {
  @extend %swatch-theme-a-background;
  }

  //SWATCH THEME B
  &.data-swatch-theme-b, & #top ul li.top-active {
  @extend %swatch-theme-b-background;
  }

  //SWATCH THEME C
  &.data-swatch-theme-c, & #top ul li.top-active {
  @extend %swatch-theme-c-background;
  }
}
*/
