
//Author: KW
// all content in this document carried out by ABOVE author

/***************************/
/*   Section | Article     */
/***************************/
section {text-align:left; clear:both;
	article {float:left; width:25%; padding:1%;
		i{color:blue;}
		.fail {color:red}
		img {width:30%; border-radius:10px;}//img
		p {text-align:left;}//p

	}//article
}//section

/***************************/
/*        dashboard        */
/***************************/
.dashboard {width:100%;
	.row {width:100%;
	.options {background:transparent;text-align:center;	width:50%;	float:left;
		h4 {text-align:left;}//h4
		ul {text-decoration:none; list-style:none; padding:0;	width:100%; margin:0 auto;
			li {float:left;	margin:2%;width:20%;
				//After 4 li items, the 5th and 10th move onto another line.
				&:nth-child(5), &:nth-child(10),  {clear:left;margin-left:0px;}
				&:first-child {margin-left:0;}
				a {display:block;	background: rgba(255, 255, 255, 0.8);	border-radius:$site-border-radius;border:$site-border-hidden;	color:#ffffff;width:100%;
					&:hover {background: rgba(255, 255, 255, 1.0);	border:$site-border-show;	@extend %glow;}
					img {width:100%; height:auto;}
					span {font-size:85%; padding:1%; margin:0; margin-top:4px; display:block;}//span
				}//a
			}//li
		}//ul
		a {
			&:hover {}
		}
	}//options
}//row
} //dashboard

/***************************/
/*      Page Editor        */
/***************************/
.rightBorder {
	 border:1px solid #3f6572;
 }

#identity {
	.pagecontainer {position:relative;height:100%;
	 	#serve_container {position:relative;	height:100%; background-size:cover;}
		#footer {position:absolute; bottom:0; display:none;}
	}
}
#left {float:left; width:70%; @extend .rightBorder;  border-right:1px solid transparent;
	/* Default Orientation - Landscape*/
	.pagecontainer {width:100%; background:transparent; box-sizing:border-box;
		ul.theme_select {
				li {width:15%; float:left; text-align:center;
					a {display:block;
						img {width:90%;
						}//img
					}//a
				}//li
		}//ul.theme_select
	}//pagecontainer
	.pagecontainer:last-child {min-height:100px; background:transparent; @extend .rightBorder; border-right:1px solid transparent; border-bottom:1px solid transparent; border-left:1px solid transparent;
	}//last-child
}//left

/* Portrait*/
#left.portrait {
	box-sizing:border-box;
		.pagecontainer {float:left; width:75%;  box-sizing:border-box; border-radius:$site-border-radius; border:$site-border;
			ul.theme_select {width:100%; padding:0; margin:0; display:flex; text-align:center; display:block;
					li {width:100%;
						a {
							img {width:50%;	text-align:center;
							}//img
						}//a
					}//li
			}//ul.theme_select
		}//pagecontainer
		.pagecontainer:last-child {float:left; width:23%;  background:transparent; margin-left:10px; @extend .rightBorder; border-top:1px solid transparent; border-right:1px solid transparent; border-bottom:1px solid transparent;
		}//last-child
	}//portrait

#right {float:left;width:30%;background:#fafafa;box-sizing:border-box; @extend .rightBorder;
	ul {margin:0 auto; 	padding:0; background:transparent;	display:block;	margin-left:10px;
		li:first-child {margin-top:0;}//li:first-child
		li {background:transparent;border-radius:$site-border-radius;border:$site-border;  margin-bottom:5px; float:left; clear:both; width:100%;
			label {width:100%; font-weight:bold; padding:1%; }//label
			input {width:94%; @extend .rightBorder;}
			input, textarea {max-width:100%; margin:0 auto;}//textarea, input
			textarea {resize: vertical; height:auto; width:94%; padding:1%; min-height:150px;  @extend .rightBorder;}
			&#orientation {padding:0; width:97%;
					label {display:block; width:97%;}
					a {	display:block;}//a
					input {border: none;}
					button {
						&:first-child {margin-left:0px;}
					}
					i {font-size:500%; display:block; padding: 8px 25px;
						&.landscape {
						-ms-transform: rotate(90deg); /* IE 9 */
						-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
						transform: rotate(90deg);}
					}
					button.active, button.active:hover {background:$button-background-active; border:2px solid transparent; cursor:initial;}//button.active
					button {background:$button-background; color:#000000; width:50%; border:2px solid transparent; float:left; padding:0px 5px; overflow:hidden;}//button
					button:hover {cursor:pointer; border:2px solid #ffffff;background:#74bad3; }//2 elements -- active hover
				}//orientation
				&.oneLine {
					label {float:left;}
					input{float:left; width:94%;}
				}
				&.transition {
					width:100%;
					div {width:30%; float:left;
						&:first-child{margin-right:4%;}
						label {padding:2%;}
						select {width:100%; border:2px solid #3f6572;}
					}
				}//transition
		}//li
		div.buttons-PageEditor {
			li {
			float:left; width:97%;
				button{width:100%; padding:2%}
				a {display:block;
					button {}
				}
			}
			form {float:left; width:100%;}
		}
	}//ul
}//right

// SAVE DELETE buttons

.delete {background:#ffb347;}
.save {background:#BDECB6;}

/***************************/
/*         Global          */
/***************************/
.global {width:100%;margin:0 auto;font-size:120%;
	.row {margin:0 auto 1%;
			li {
				form {width:auto; float:left;}
				input[type='checkbox'] {margin:12px 5px 0 10px;}
				input {display:block; clear:left; margin-bottom:3px; border:1px solid #000000;}
				label {display:block;}
				select { border:1px solid #000000;}
				a {}
				button { margin-right:5px;  padding:5px;}
			}
			&:first-child {background:transparent;padding:1%;
			.titles {
			width:50%; float:left;
				h3 {}
				h5 {}
				ul {float:right; width:48%; margin-top:5px;
					&.checkAll {
						li {
							&:last-child {
								input {float:left;}
								label {float:left;}
							}
						}
						}
					li{

						input {width:240px; float:left;}
						label {width:180px; margin-left:10px; float:left; }
						select {width:300px; margin-left:10px;}
						a {float:left; width:48%;}
						button {float:left; margin-right:1%; width:auto;
							&:last-child {
							margin-left:0%;
							}
						}
					}//li
				}//ul
			}//titles
		}//first-child
		&:last-child {clear:both;
			ul {
				.advertItem {
					a {float:left;}
					}
				li {display:flex; line-height:180%; margin-top:0.5%;
					&:nth-child(odd) {background:$li-background;}//li:nth
					&:nth-child(even) {background:$li-background-lighter;}//li:nth
					&:hover {background:$li-background-hover;}
					a {cursor:pointer; padding:0;	width:auto; float:left;}
					input {font-size:90%; padding-left:1%; }//input
					label, a:first-child{float:left; min-width:75%; padding:0% 0.5%;}//label
					button {font-size:90%; float:right; margin-left:1%; padding:5px;
						&:first-child {margin-left:10px;}//
						&:hover {background:orange;}
					}//button
				}//li
			}//ul
		}//row:last-child
	}//row
}//global


/***************************/
/*         Login           */
/***************************/
// Login page delete text css - using cross as icon
  .clearable{
    background: #fff url("../images/inputcross.png") no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
  }
  .clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
  .clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
  .clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

form#clientlogin, form#register {margin:0 auto;width:15%;text-align:left;
	ul {
		button {margin:10% 0;	width:50%;	display:block;}//input
		li {width:100%;
			label, input {width:100%;}
			label {display:block;	margin-top:1%;padding:1%;}//label
			input {display:block;	margin-top:0;	width:94%;text-align:left;border:2px solid black;}//input
			input:hover {cursor:pointer;}//li:hover
		}//li

		&:last-child{margin-top:1%;
			li {text-align:left;
				a {color:#000000;}//a
				a:hover {color:#000000;}//a:hover
			}//li
		}//ul:last-child
	}//ul
}//clientlogin | register
