#serve_container {
	width:100%;
	overflow:hidden;

	#header {
 	width:100%;

		h1 {
		background:white;
		color:#000000;
		}//h1
	}//header

//landscape
	//default Row
	%theme1 {
		clear: both;
		display:block;
		min-height:250px;
		width:100%;
		float:left;
	}

	%theme1-img {
		width:100%;
		text-align:center;

		& img {
		width:50%;
		}
	}

	%theme1-text {
		width:100%;
		font-size:120%;
	}

	%theme1-global {
		float:left;
		display:inline-block;
	}

	.row {
	@extend %theme1;
		& #serve_image {
			@extend %theme1-img;
			@extend %theme1-global;
		}
		& #serve_text {
			@extend %theme1-text;
			@extend %theme1-global;
		}
	}
}


#footer {

}//footer
