#plus_container {
	width:100%;

	#header {
 	width:100%;

		h1 {
		background:white;
		color:#000000;
		}//h1
	}//header

//.theme1 default
	.row{
		clear: both; display:block; min-height:250px;

		#image {

		}
			img{
				width:80%; max-height:200px;
			}//img
		}//image

		#text {

		}


	.theme1 {
	}//fourbyfour
}//ad_container


#footer {

}//footer
