.hidden {display:none; }
.shown {display:block;}
.clear {clear:both;}
.right {float:right;}
.alert-danger {
	color:red; font-size:20px; font-weight:bold; text-align:center;
		li {list-style:none;}
	}
