/* Generic */
input {
border:none;
box-shadow:none;
color:$input;
background:$lightbg;
font-weight:bold;
padding:0px;
margin:0;
padding:4px;
}//input

form {
border:none;
color:$sitewide;

  h3 {
  padding-bottom:8px;
  }//h3

}//form

/* Login */
/**/
form#clientlogin, form#register {
width:20%;
margin:0 auto;
padding:2%;
color:#ffffff;

	ul {
	padding-left:0;
	list-style:none;

		li {
		width:100%; margin:0; padding:0;

			label {
			display:block; padding:5px 0px;
			}//label

			input {
			width:100%;; margin:0 auto; padding:5px 5px;
			}//input
		}//li

	  .submit {
	  margin-top:10px;
		border:none;
		background:#7a8aff;
		padding:5px 10px;
	  }//submit
	}//ul
}//clientlogin
