/***************************/
/*   Section | Article     */
/***************************/
section {
text-align:center; clear:both;

	article {
	float:left; width:22%; padding:1%;

		img {
		width:50%; border-radius:$bradius;
		}//img

		p {
		text-align:justify; color:#ffffff;
		}//p
	}//article
}//section

/***************************/
/*        dashboard        */
/***************************/
.dashboard {

	.row {
	width:50%; float:left;
		/* LEFT ROW:: USER SETTINGS */
		form {
		width:80%; margin:0 auto;

			ul {
			margin:0;
			padding:0;

				li {
			  margin:0px auto; padding:0; padding-bottom:20px; border:none; display:flex;

					label {
					min-width:25%;
					}//label
				}//li

				li.twoinputs {

					label.smalllabel {
					min-width:16%
					}//label

					input {
					float:right; margin-right:10px;

						:last-child {
						margin-right:0px;
						}//last-child
					}//input
				}//twoinputs

			}//ul
		}//form

		/* USER OPTIONS RIGHT SIDE */
	.options {
	background:transparent; text-align:center;

		h4 {
		text-align:left;
		}//h4

		ul {
		text-decoration:none; list-style:none; padding:0; margin:0;

			li:first-child {
			margin-left:0;
			}//li:first-child

			li {
			float:left; margin:1%;

				a {
				display:block; background:#3a3a3a; border-radius:$bradius; min-width:90px; border:$border1; color:$lightbg; padding:10px;

					i {
					font-size:2em;

						span {
						font-size:16px; padding:0; margin:0; margin-top:4px; display:block;
						}//span
					}//i
				}//a

				a:hover {
				background:$logoblue;
				}//hover
			}//li
		}//ul
	}//options
}//row
} //dashboard

/***************************/
/*      Page Editor        */
/***************************/

body .pagecontainer #footer {width:100%; min-height:20px; background:pink;}//footer

#left {
float:left; width:70%; min-height:300px;

	/* Default Orientation - Landscape*/
	.pagecontainer {
	width:100%; min-height:400px; border:$border1; background:transparent; box-sizing:border-box;

		ul.theme_select {

				li {
				width:20%; float:left;

					a {
					display:block;

						img {
						width:100%;
						}//img
					}//a
				}//li
		}//ul.theme_select
	}//pagecontainer

	.pagecontainer:last-child {
	min-height:100px; background:orange; margin-top:5px;
	}//last-child
}//left

/* Portrait*/
#left.portrait {

		.pagecontainer {
		float:left; width:75%;  box-sizing:border-box; border-radius:$bradius; border:$border1;

			ul.theme_select {
			width:100%; padding:0; margin:0; display:flex; text-align:center; display:block;

					li {
					width:50%;
						a {

							img {

							}//img
						}//a
					}//li
			}//ul.theme_select
		}//pagecontainer

		.pagecontainer:last-child {
		float:left; width:23%;  background:orange; margin-left:10px;
		}//last-child
	}//portrait

#right {
float:left;
width:30%;
background:transparent;
box-sizing:border-box;

	ul {
	margin:0 auto;
	background:transparent;
	display:block;
	padding:0;
	margin-left:10px;

		li:first-child {
		margin-top:0;
		}//li:first-child

		li {
		display:block;
		background:transparent;
		margin:5px auto;
		border-radius:$bradius;
		padding:5px;
		border:$border1;

			textarea, input {
			width:90%;
			margin:0 auto;
			}//textarea, input

			label {
			display:block;
			}//label
		}//li

		li#orientation {
			padding:0; margin:0;

				a {
				display:block;
				}//a

				button:first-child {
				margin-left:0px;
				}

				button.active, button.active:hover {
				background:$darkblue;
				}//button.active

				button {
				background:#ffffff; color:#000000; width:50%; border:$border1; float:left; padding:0px 5px; overflow:hidden;
				}//button

				button:hover {
				background:$lightblue; cursor:pointer;
				}//2 elements -- active hover
			}//orientation
	}//ul
}//right

/***************************/
/*         Global          */
/***************************/
.global {
width:80%;
margin:0 auto;
font-size:120%;

	.row {
	margin-bottom:1%;

		ul {

			li {
			margin-top:1%;
			padding: 1% 1% 1% 0;

				input {
				font-size:90%;
				padding-left:1%;
				}//input

				label {
				min-width:40%;
				}//label

				button {
				font-size:90%;
				float:right;
				margin-left:1%;
			}//button
			}//li
		}//ul
	}//row

	.row:last-child {

				ul {

					li {
					padding:1%;

						label {

						}//label

						button {

						}//button

						button:first-child {
						margin-left:0;
						}//button:first-child
					}//li

					li:nth-child(odd) {
					background:$darkBackground;
					}//li:hover
					li:hover {
					background:$alternateHover;
					}//li:hover
				}//ul
	}//row:last-child
}//global


/***************************/
/*         Login           */
/***************************/
form#clientlogin, form#register {
margin:0 auto;
width:15%;
text-align:center;

	ul {

		button {
		margin:10% auto;
		width:50%;
		display:block;
		}//input

		li {
		width:100%;

			label, input {width:100%;}

			label {
			display:block;
			margin-top:1%;
			padding:1%;
			}//label

			input {
			display:block;
			margin-top:0;
			width:94%;
			text-align:center;
			}//input

			input:hover {
			background:$lightblue;
			cursor:pointer;
			}//li:hover

		}//li
	}//ul

	ul:last-child{
	margin-top:1%;

		li {
		text-align:left;

			a {
			color:$lightblue;
			}//a

			a:hover {
			color:$lightbg;
			}//a:hover
		}//li
	}//ul:last-child


}//clientlogin | register
