body {
padding:0;
margin:0;
font-family:$font;
color:$sitewide;
background:$background;
background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: 20px 20px;
background-size: 10px 10px;

  #wrapper {
  height:auto;
  display:block;
  width:100%;
  margin:0 auto;
  min-width:1325px;

    h1, h2, h3, h4, h5 {
    margin:0;
    padding:0;
    color:$sitewide;
    }//headings

    ul {margin:0; padding:0;}
    li {list-style:none;}

    article {
    margin:10px 0;
    }//article

    /* Buttons */
    %button {
      box-shadow:none;
      border:$border1;
      background:$buttongrey;
      color:$sitewide;
      cursor:pointer
    }
    %button-hover {
    background:$logoblue;
    }

    button {
    @extend %button;
      &:hover {
        @extend %button-hover;
      }
    }

    a, img, button, button:hover {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    }

      a {
      color:#ffffff;
      text-decoration:none;

        img {
        border: 0;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */

          :hover {
          opacity: 1.0; filter: alpha(opacity=100); /* For IE8 and earlier */
          }//end :hover
        }//end img
      }//end 'a'

      #signedin {
      font-weight:bold;
      margin:5px 10px;
      padding:0;
      font-size:12px;
      float:right;

        #signinName {
        color:yellow;
        }//signinName

        #signinLocation{
        color:orange;
        }//signinLocation

        #signinPriv {
        color:red;
        }//signinPriv

        #signout {

        }//signout
      }//signedin


    header#header {
    width:100%; display:block; display:inline-block;

      .head {
      width:50%;
      float:left;

        img {
        width:20%;
        margin-left:5%;
        }//img
      }//close head

      .head:last-child {
      float:right;
      padding-top:10px;
      }//last:child

      nav {
      width:auto;
      float:right;
      padding:1%;
      font-size:16px;
      font-weight:bold;

        ul {
          padding:0;
          margin:0;

          li:first-child {
            margin-left:10px;}

          li {
            list-style:none;
            float:left;

            a {
            padding:2px 20px;
            color:$sitewide;
            text-decoration:none;

              i {
              .fa.fa-home {font-size:20px;}
              }// close i

              img {
              width:100%;
              }//close img
            }// close 'a'
          }//close li
        }//close ul
      }//close nav
    }//close header

    #content {
    min-width:1024px;
    width:98%;
    margin:2% auto;
    clear:both;
    display:block;

      a {
        //empty

        #largeArea {
        width:100%;
        height:500px;
        margin:0 auto;
        display:block;
        }// close largeArea
      }// close 'a'
    }//close content

    .settings {
    width:100%;
    margin:0 auto;
    background:transparent;

        h4 {
        font-size:20px;

          .indent {

          }//indent
        }//h4

        .row {
        width:100%;

          form {
          margin-bottom:5px;

            :first-child {
            //empty

              ul {
              //empty

                li {
                border:none;
                }//close :first-child li
              }//close :first-child ul
            }//close :first-child

            ul {
              padding:0;
              margin:0;

              li {
                border:1px solid #000000;
                list-style:outside none none;
                margin-bottom:5px;
              }//close form ul li
            }//close form ul
          }//close form
        }//close row
    }//close settings

    footer {
      width:100%;
      margin:0 auto;
      text-align:right;
      clear:both;
      color:$sitewide;
      position:fixed;
      bottom:2px;
      right:2px;
      font-size:12px;

        #footer {
          //empty
        }
    }//close footer
  }//end wrapper
}//end body

/* Generic */
input {
border:none;
box-shadow:none;
color:$input;
background:$lightbg;
font-weight:bold;
padding:0px;
margin:0;
padding:4px;
}//input

form {
border:none;
color:$sitewide;

  h3 {
  padding-bottom:8px;
  }//h3

}//form
