/*Variables*/
$font: verdana;
$sitewide: #ffffff;
$background: url('/images/bg.gif');
$darkBackground: rgba(114, 188, 212, 0.1);
$bradius: 2px;
$border4: 4px solid #101010;
$border1: 1px solid #000000;
$activeBG: #add8e6;//lightblue
$lightblue: #add8e6;//lightblue
$darkblue: #72bcd4;//dark blue
$formfontsize: 16px;
$logoblue: #1f6378;
$buttongrey: #3a3a3a none repeat scroll 0 0;
$lightbg: #FFFFFd;//offwhite blue
$input: #000000;
$alternateHover: rgba(114, 188, 212, 0.4);

/* sitewide classes */
.hidden {display:none; }
.shown {display:block;}
.clear {clear:both;}
.right {float:right;}
.alert-danger {color:red; font-size:20px; font-weight:bold; text-align:center;}
