/**/
$font: verdana;
$sitewide: #ffffff;
$background: url('/images/bg.gif');
$bradius: 2px;
$border4: 4px solid #101010;
$border1: 1px solid #000000;
$activeBG: #add8e6;//lightblue
$lightblue: #add8e6;//lightblue
$darkblue: #72bcd4;//lightblue
$formfontsize: 16px;
$logoblue: #1f6378;
$buttongrey: #3a3a3a none repeat scroll 0 0;
$lightbg: #ffeebf;//yellow
$input: #000000;
