/**/
$font: verdana;
$sitewide: #ffffff;
$background: url('/images/bg.gif');
$bradius: 2px;
$border4: 4px solid #101010;
$border1: 1px solid #000000;
$activeBG: yellow;
$formfontsize: 16px;
$logoblue: #1f6378;
$buttongrey: #3a3a3a none repeat scroll 0 0;
$lightblue: #afbbbf;
$input: #000000;
