@charset 'UTF-8';

// --advertTemplates
@import 'backend/adverts/_advertTemplateLayouts.scss',
        'backend/adverts/_animate.scss',
        'backend/adverts/_serveText.scss';

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }
    $width: 100%;
    $height: percentage(nth($ratio, 2) / nth($ratio, 1));
    width: $width;
    height: 0;
    padding-bottom: $height;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-size:1.2vw;
    }

body, #wrapper, #content {padding:0;margin:0;}
.clear {clear:both;}

#serve {
  #serve_container {
  overflow:hidden;
    #header {display:none;}
    .row {
      #serve_image {
        video {position:absolute; top:0; left: 0; margin:0; padding;}
        img {position:absolute; top:0; left: 0; margin:0; padding:0;}
      }
    }
  }
}
