//Author: KW
// all content in this document carried out by ABOVE author
body {
  &.data-swatch-theme-a {
  .three {background:#d8f4fd;}
  #wrapper #content {
    h5 {color:#407b8d;}
    .global {
      .row {
        &:last-child{
        ul {
          li{
            &:nth-child(odd) {background:#C0D9D9;}//li:nth
  					&:nth-child(even) {background:#D1EEEE;}//li:nth
  					&:hover {background:#79CDCD;}
            &.advertItem {
              label{}
            }
          }
        }
        }
      }//row
    }//global
  }
}
//KW 28.05 Assigning colour blind theme font-color
  &.data-swatch-theme-b {
    .three {background:rgba(255,255,255,0.4);}
    #wrapper #content {
      //violet
      h5 {color:#407b8d;}
    }
  }
  &.data-swatch-theme-c {
    .three {background:#070e10;}
    #wrapper #content {
      #identity {color:#000000;}
      h5 {color:#79CDCD;}
      options {
        .dashboard {
          .row{
            .options {
              li {
                a {color:#000000;
                  span {}
                }
              }
            }
          }
        }
      }

    }
  }
}
