%zeroPM {padding:0; margin:0;}

%wrapper {
width:100%;
margin:0 auto;
min-width:1325px;
display:block;
}

%transitions {
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
}

%anchors {
text-deciroation:none;
color:#1f6378;//logoblue
  & :hover {}

  & img {opacity: 0.8; filter: alpha(opacity=80); /* For IE8 and earlier */

    &:hover {opacity: 1.0; filter: alpha(opacity=100); /* For IE8 and earlier */ }
  }
  //Swatches
  &.swatch-default {color:$white;}

  &.swatch-red {color:red}

}

/* Buttons */
%button {
box-shadow:none;
border:1px solid #000000;
cursor:pointer;

  & :hover {
  background:#add8e6;//lightblue
  }
}

$btn-blue:#1f6378 none repeat scroll 0 0;
$btn-grey:#3a3a3a none repeat scroll 0 0;
