@import '_variables.scss';

.clear {clear:both;}

a, button, input {cursor:pointer;}
#wrapper {width:100%;}
.wrapper {background:transparent; margin:0 auto; width:100%; }
.row {clear:both; }
.two, .three, .four, .five {padding:2% 0; width:100%;}

  .one {
  background:transparent; padding:0;
    #teaser {
    width:100%;
    display:block;
      iframe, video {width:100%; height:auto;
      min-height:450px;}
    }
  }//one

  .two {
  background:transparent;
    ul {
      li {
      width:33%;
      list-style:none;
      float:left;
      text-align:center;
        img {width:60%; height:auto; border-radius:50%; background:yellow;}
        span {display:block; text-align:center; font-size:190%;}
      }
    }
  }

  .three {
  background:transparent;
    //partly up top
    .left {
    width:45%; float:left; margin-left:2%;
      h3 {}
      p {}
      button {}
    }
    .right {
      width:45%;
      margin-right:2%;
      iframe, form {
      width:100%; margin:0 auto; height:auto; min-height:300px;
      }
    }
  }


  .four {
  background:transparent;
    #servicesIntro{
    width:80%;
    margin:0 auto;
    text-align:center;
      h2 {}
      p {}
    }

    #servicesMain{
      .service {
      float:left;
      width:25%;
      text-align:center;
        img {width:80%; border:2px solid black; background:#ffffff;}
        h3 {width:80%; margin:0 auto;}
        p {width:80%; text-align:justify; margin:0 auto;}
        button {margin-top:10%;}
      }
    }
  }

  .five {
    background:yellow;
    .left {
    text-align:center;
      img{width:80%;}
    }
    .right {

      form {
        h3 {}
        p {}
        ul {
          li {

          }
        }
        label {}
        input {}
        button {}
      }
    }
  }

  .six {

    #footer {
    width:90%;
    margin:0 auto;

      .column {
      float:left;
      width:25%;
      background:yellow;

        &.extend {width:50%}
        .item {}
      }

    }
  }
