* {margin:0; padding:0; border:none; list-style:none; }

/* classes */
.hidden {display:none; }
.shown {display:block;}
.clear {clear:both;}
.right {float:right;}
.alert-danger {color:red; font-size:20px; font-weight:bold; text-align:center;}


body {
font-family:$base-font-family;
font-size:$base-font-size;
color:$base-font-color;
background:$background ;

  #wrapper {
  @extend %wrapper;

    h1, h2, h3, h4, h5 {
    color:$base-font-color;
    }//headings

    button {
    @extend %button;
    }

    a, img, button, button:hover, div {
    @extend %transitions;
    }

      a {
      @extend %anchors;
      }//end 'a'

      #top {
      width:100%;
      background:$gray-dark;
      display:inline-block;
      padding-top:0.8%;
      padding-bottom:0.8%;
      color:$white;

        #signedin {
        float:right;
        margin-right:1%;
        width:40%;
        text-align:right;

          #signinName {
          color:red;
          }//signinName
        }//signedin

        #swatches {
        float:left;
        width:25%;

          ul {
            li {
            float:left;
            margin-left:5%;

              a {
              //see mixins

                &:first-child {
                margin-left:0;
                }
              }
            }
          }
        }
      }//top


    header#header {
    width:100%; display:block; display:inline-block;

      .head {
      width:50%;
      float:left;

        img {
        width:20%;
        margin-left:5%;
        }//img
      }//close head

      .head:last-child {
      float:right;
      padding-top:10px;
      }//last:child

      nav {
      width:auto;
      float:right;
      padding:1%;
      font-size:16px;
      font-weight:bold;

        ul {
          @extend %zeroPM;

          li:first-child {
            margin-left:10px;}

          li {
            list-style:none;
            float:left;

            a {
            padding:2px 20px;
            text-decoration:none;

              i {
              .fa.fa-home {font-size:20px;}
              }// close i

              img {
              width:100%;
              }//close img
            }// close 'a'
          }//close li
        }//close ul
      }//close nav
    }//close header

    #content {
    min-width:1024px;
    width:98%;
    margin:2% auto;
    clear:both;
    display:block;

      a {
        //empty

        #largeArea {
        width:100%;
        height:500px;
        margin:0 auto;
        display:block;
        }// close largeArea
      }// close 'a'
    }//close content

    .settings {
    width:100%;
    margin:0 auto;
    background:transparent;

        h4 {
        font-size:20px;

          .indent {

          }//indent
        }//h4

        .row {
        width:100%;

          form {
          margin-bottom:5px;

            :first-child {
            //empty

              ul {
              //empty

                li {
                border:none;
                }//close :first-child li
              }//close :first-child ul
            }//close :first-child

            ul {
              padding:0;
              margin:0;

              li {
                border:1px solid #000000;
                list-style:outside none none;
                margin-bottom:5px;
              }//close form ul li
            }//close form ul
          }//close form
        }//close row
    }//close settings

    footer {
      width:100%;
      margin:0 auto;
      text-align:right;
      clear:both;
      position:fixed;
      bottom:2px;
      right:2px;
      font-size:12px;

        #footer {
          //empty
        }
    }//close footer
  }//end wrapper
}//end body

/* Generic */
input {
border:none;
box-shadow:none;
font-weight:bold;
padding:0px;
margin:0;
padding:4px;
}//input

form {
border:none;

  h3 {
  padding-bottom:8px;
  }//h3

}//form
