///////////////////////////////////////////////
//THEME A
///////////////////////////////////////////////

%swatch-theme-a-background {
background:#ffffff;
  &.top-active, &:hover {background:#ffffff; color:#000000;}
}

///////////////////////////////////////////////
//THEME B
///////////////////////////////////////////////

%swatch-theme-b-background {
background:orange;
  &.top-active, &:hover {background:orange; color:#000000;}
}

///////////////////////////////////////////////
//THEME C
///////////////////////////////////////////////

%swatch-theme-c-background {
background:#000000;
  &.top-active, &:hover {background:#000000; color:#ffffff;}
}
