@mixin template( 	$name,
									$template-h1-backround-color,
									$template-h1-color,
									$template-h1-display,

									$template-img-float,
									$template-img-width,
									$template-img-display,

									$template-text-float,
									$template-text-width,
									$template-text-p-align,
									$template-text-display
            )
  {

#serve_container.#{$name} {
width:100%;
overflow:hidden;

	#header {
	width:100%;

		h1 {
		display:$template-h1-display;
		background:$template-h1-backround-color;
		color:$template-h1-color;}//h1
		min-height:50px;
	}//header

	#serve_image {
	display:$template-img-display;
	float:$template-img-float;
	width:$template-img-width;

		img {width:100%}
	}

  #serve_text {
	display:$template-text-display;
	float:$template-text-float;
	width:$template-text-width;

		p {text-align:	$template-text-p-align}
	}

}
 	#footer {width:100%; background:#000000; display:block;  font-size:14px;

		ul {margin:0; padding:0;
			li {float:left; width:40%; text-align:left; padding:1%; color:#ffffff; font-weight:bold;

				&:last-child {float:right; text-align:right;}
			}
		}
	}//footer
}

//Note: Left to right per row
// 										name			|
// HEADING:   				BG Color 	| 	Font Color 	| 		Display
// IMAGE:  						Float   	|   width  			|    	Display
// TEXT: 							Float			| 	Width 			|			Align 		| 		Display

@include template(	template1,
										#000000, #ffffff, block,
										left, 50%, initial,
										right, 50%, justify, initial);

@include template(	template2,
										#ffffff, #000000, block,
										left, 100%, initial,
										right, 50%, justify, none);

@include template(	template3,
										#000000, #ffffff, block,
										right, 50%, initial,
										left, 50%, justify, initial);


@include template(	template4,
										#000000, #ffffff, block,
										right, 50%, none,
										left, 50%, justify, none);

@include template(	template5,
										#ffffff, #000000, block,
										left, 100%, initial,
										right, 50%, justify, none);
