$dashboard-anchor-text-hover:#1f6378 ;
$dashboard-anchor-text:#ffffff;
//
$li-background: rgba(114, 188, 212, 0.1);
$li-background-hover: rgba(114, 188, 212, 0.4);

//objects
$objects-selected-background:#add8e6; //light blue

// Site theme
$site-background: #ffffff !default;
$site-top-background:#1f6378;//dark blue
$site-top-logo-background: $site-background !default; //

// Font
$top-swatch-btn-color-a: #000000;
$top-swatch-btn-background-a:#ffffff;
$top-swatch-btn-color-b: green;
$top-swatch-btn-background-b:#ffffff;
$top-swatch-btn-color-c: black;
$top-swatch-btn-background-c:#ffffff;

$site-font-theme-a-size:160%;
$site-font-theme-b-size:120%;
$site-font-theme-c-size:100%;
$site-font-color:#333333 !default;

// Border
$site-border:2px !default;
$site-border-color: #838282;
$site-border-hidden: 4px solid transparent;
$site-border-show: 4px solid $site-font-color;
$site-border-radius: 2px !default;
$site-border-rounded-radius: 50% !default;

// Forms
$site-font-form-color: $site-font-color;

//buttons
$button-font-color:$site-top-background;
$button-background:green;
$button-background-active:orange;
$button-background-hover:yellow;
